td{
  font-size: 15px;
  text-align:center;
}

table{
  margin: auto;
  margin-top: 5%;

}

div.div_td{
  margin: auto;
  
}

h2,h3{
  text-align: left;
  margin-top: 3%;
  margin-left: 2%;

}

tr{
  margin: auto;
}
